<app-general-panel
  [title]="'کارکرد ماهانه '"
  [hideBackButton]="false"
  (backCallback)="cancelClickHandler()"
>
  <div class="row">
    <ki-form-group [label]="'انتخاب ماه'" class="col-3">
      <ki-select
        [placeholder]="'انتخاب ماه'"
        [options]="monthlyList"
        [(ngModel)]="addDraftDto.monthNum"
      >
      </ki-select>
    </ki-form-group>
    <ki-form-group [label]="'انتخاب سال'" class="col-3">
      <ki-select
        [placeholder]="'انتخاب سال'"
        [options]="yearlyList"
        [(ngModel)]="addDraftDto.yearNum"
      >
      </ki-select>
    </ki-form-group>

    <ki-form-group class="col-3">
      <ki-button
        btnType="basic"
        [iconClassName]="'fa-solid fa-magnifying-glass'"
        [showLoading]="showLoading"
        [title]="'نمایش'"
        (clickCallback)="clickSearchHander()"
      >
      </ki-button>
    </ki-form-group>
  </div>

  <ag-grid-data
    [editType]="editType"
    [columnsDefault]="columnsDefault"
    [rowDataDefault]="rowDataDefault"
    [defaultColDef]="defaultColDef"
    (saveCellChange)="saveCellHandeler($event)"
  ></ag-grid-data>
  <ng-template #footer>
    <ki-button
      btnType="basic"
      [iconClassName]="'fa-solid fa-floppy-disk'"
      [showLoading]="showLoading"
      [title]="'ذخیره اطلاعات'"
      (clickCallback)="clickSearchHander()"
    >
    </ki-button>
  </ng-template>
</app-general-panel>
