<app-general-panel
  [title]="'کارکرد ماهانه '"
  [hideBackButton]="false"
  (backCallback)="cancelClickHandler()"
>
  <div class="row">
    <ki-form-group [label]="'تاریخ'" class="col-3">
      <app-month-picker
        (monthSelect)="handleMonthSelect($event)"
      ></app-month-picker>
    </ki-form-group>
  </div>

  <ag-grid-data
    [isEditMode]="isEditMode"
    [editType]="editType"
    [columnsDefault]="columnsDefault"
    [rowDataDefault]="rowDataDefault"
    [defaultColDef]="defaultColDef"
    (saveCellChange)="saveCellHandeler($event)"
  ></ag-grid-data>
  <ng-template #footer>
    <ki-button
      btnType="basic"
      [iconClassName]="'fa-solid fa-floppy-disk'"
      [showLoading]="showLoading"
      [title]="'ذخیره اطلاعات'"
      (clickCallback)="clickSearchHander()"
    >
    </ki-button>
  </ng-template>
</app-general-panel>
