<app-general-panel
  [title]="'ویرایش  نوع بیمه '"
  [hideBackButton]="false"
  (backCallback)="cancelClickHandler()"
>
  <app-skeleton-form-loading
    *ngIf="isLoading; else formTemplate"
  ></app-skeleton-form-loading>
  <ng-template #formTemplate>
    <app-general-form
      #generalForm
      [model]="model"
      [fields]="feilds"
      [cssHeight]="'100%'"
      (submitEvent)="submitHandler($event)"
      (saveEvent)="saveHandler($event)"
    ></app-general-form>
  </ng-template>
  <ng-template #footer>
    <ki-button
      btnType="basic"
      [iconClassName]="'fa-solid fa-floppy-disk'"
      [showLoading]="showLoading"
      [title]="'ویرایش اطلاعات'"
      (clickCallback)="clickSearchHander()"
    >
    </ki-button>
  </ng-template>
</app-general-panel>
