<ki-modal
  [title]="isEditMode ? 'ویرایش مزایا و کسورات کارمندان' : 'ایجاد  مزایا و کسورات کارمندان'"
  [showCancelButton]="true"
  (onCloseCallback)="cancelHandler()"
  [showPrimaryButton]="true"
  [primaryButtonFor]="submitButtonId"
  [hideHeaderActions]="true"
  [showPrimaryButtonLoading]="isLoadingForm || isLoading || isLoadingSaveChange"
>
  <app-skeleton-form-loading
    *ngIf="isLoading; else content"
  ></app-skeleton-form-loading>
  <ng-template #content>
    <app-benefit-deduction-employees-form
      [submitButtonId]="submitButtonId"
      [model]="initialData"
      (submitCallback)="saveHandler($event)"
    >
    </app-benefit-deduction-employees-form>
  </ng-template>
</ki-modal>
