<section class="general-header">
  <ng-container *ngIf="icon; else backButtonTemplate" [ngTemplateOutlet]="icon"></ng-container>
  <ng-template #backButtonTemplate>
    <ng-container *ngIf="!hideBackButton">
      <button
        [attr.title]="backButtonTooltip"
        class="general-header__back-button fa fa-arrow-left"
        (click)="backHandler($event)"
      ></button>
    </ng-container>
  </ng-template>
  <div class="general-header__content">
    <h2 class="general-header__title">{{ title }}</h2>
    <h3 *ngIf="subtitle" class="general-header__subtitle">{{ subtitle }}</h3>
  </div>
  <ng-content></ng-content>
</section>
