<section class="general-header text-right mt-3">
  <ng-container
    *ngIf="icon; else backButtonTemplate"
    [ngTemplateOutlet]="icon"
  ></ng-container>
  <ng-template #backButtonTemplate>
    <ng-container *ngIf="!hideBackButton">
      <button
        [attr.title]="backButtonTooltip"
        class="general-header__back-button fa-solid fa-angles-right"
        (click)="backHandler($event)"
      ></button>
    </ng-container>
  </ng-template>

  <ng-content></ng-content>
  <div class="general-header__content">
    <h3 *ngIf="subtitle" class="general-header__subtitle text-right">
      {{ subtitle }}
    </h3>
  </div>
</section>
