<ki-modal
  [title]="isEditMode ? 'ویرایش رشتهتحصیلی' : 'ایجاد رشته تحصیلی'"
  [showCancelButton]="true"
  (onCloseCallback)="cancelHandler()"
  [showPrimaryButton]="true"
  [primaryButtonFor]="submitButtonId"
  [hideHeaderActions]="true"
  [showPrimaryButtonLoading]="isLoadingForm || isLoadingSaveChange"
>
  <app-skeleton-form-loading
    *ngIf="isLoading; else content"
  ></app-skeleton-form-loading>
  <ng-template #content>
    <app-educatio-fields-form
      [submitButtonId]="submitButtonId"
      [evidencesModel]="initialData"
      (submitCallback)="saveHandler($event)"
      [isResetForm]="isResetForm"
    >
    </app-educatio-fields-form>
  </ng-template>
</ki-modal>
