$transition-delay: 0.7s;
$name: 'push-pull-panel';
.#{$name} {
  position: relative;
  height: 100%;
  transform: translateX(0);
  transition: $transition-delay all ease-in-out;

  &__master {
    display: block;
    height: 100%;
  }

  &__detail {
    position: absolute;
    transform: translateX(100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &--show-detail {
    transform: translateX(-100%);
  }
}
