<div
  class="app-dropdown"
  [class.app-dropdown--match-parent]="matchParent"
  [class.app-dropdown--is-expanded]="contextMenuIsShow"
>
  <ng-container *ngIf="buttonRef; else defaultButtonTmp">
    <div
      class="app-dropdown__button"
      #customButtonRef
      (click)="buttonClickHandler()"
    >
      <ng-container *ngTemplateOutlet="buttonRef"></ng-container>
    </div>
  </ng-container>
  <ng-template #defaultButtonTmp>
    <ki-button
      [matchParent]="true"
      #defaultButtonRef
      [type]="'button'"
      [varient]="'outline'"
      [size]="buttonSize"
      [title]="text"
      [iconClassName]="iconClassName"
      (clickCallback)="buttonClickHandler($event)"
    >
      <span
        *ngIf="!hideArrow"
        class="app-dropdown__arrow fa fa-chevron-down"
      ></span
    ></ki-button>
  </ng-template>
  <ng-template #menuTmp>
    <section
      class="app-dropdown__menu"
      [class.app-dropdown__menu--is-show]="contextMenuIsShow"
      [style.width]="menuWidth"
      (click)="menuClickHandler()"
    >
      <ng-container *ngIf="actions?.length; else ngContentTmp">
        <app-context-menu
          [items]="actions"
          [actionRefData]="actionRefData"
        ></app-context-menu>
      </ng-container>
      <ng-template #ngContentTmp>
        <ng-content></ng-content>
      </ng-template>
    </section>
  </ng-template>
</div>
