<section>
  <div class="modal-header" *ngIf="!hideCloseIcon && !!title">
    <h4 *ngIf="!!title" class="modal-title" id="modal-basic-title">
      {{ title }}
    </h4>
  </div>
  <div class="modal-body"><ng-content></ng-content></div>
  <div class="modal-footer" *ngIf="showPrimaryButton || showCancelButton">
    <ki-button
      btnType="basic"
      [iconClassName]="'fa-solid fa-arrow-rotate-left'"
      (click)="closeModal()"
      [for]="cancelButtonFor"
    >
      {{ cancelButtonText ? cancelButtonText : "انصراف" }}
    </ki-button>
    <ki-button
      *ngIf="showSkipButton"
      btnType="basic"
      (click)="closeModal()"
      [for]="skipButtonFor"
    >
      {{ skipButtonText ? skipButtonText : "Skip" }}
    </ki-button>

    <ki-button
      btnType="basic"
      *ngIf="showPrimaryButton"
      [iconClassName]="'fa-solid fa-floppy-disk'"
      [for]="primaryButtonFor"
      [showLoading]="showPrimaryButtonLoading"
      [title]="'ذخیره اطلاعات'"
      [disabled]="showPrimaryButtonLoading"
      (click)="onPrimaryButtonClicked()"
    >
    </ki-button>
  </div>
</section>
