@use "themes" as *;

@use "@nebular/theme/styles/globals" as *;

@include nb-install() {
  @include nb-theme-global();
}
@import "app.scss";
@import "ag-grid-variables";
a,
li,
ul,
div:not(
    .ag-input-wrapper,
    .dx-icon-search,
    .dx-treeview-toggle-item-visibility-opened,
    .dx-treeview-toggle-item-visibility
  ),
span:not(
    .ag-icon,
    .ki-button__icon,
    .ng-arrow-wrapper,
    .dx-icon,
    .dx-icon-clear,
    .fa-solid,
    .fa-share-nodes,
    .fa-ellipsis-vertical,
    .ki-tab__button-error
  ),
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button:not(.btn-close, .general-header__back-button),
section,
textarea,
label,
nb-card-header,
nb-card-body {
  font-family: var(--font-family-primary) !important;
  text-align: start;
}
nb-card-body {
  direction: rtl;
}
app-tools-bar {
  overflow: auto !important;
}
.highlight {
  color: var(--red) !important;
}
.center-content {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.start-content {
  display: flex !important;
  align-items: start !important;
  justify-content: start !important;
}
input::placeholder {
  font-family: var(--font-family-primary) !important;
}
body {
  font-family: var(--font-family-primary) !important;
  background-color: #f8f8f8 !important;
  overflow: hidden;
  direction: rtl;
}
ag-grid-angular {
  height: 70vh;
  width: 100%;
  display: block;
  flex: 1;
}

.ag-header-cell-label{
  justify-content: center !important;
}
.ag-header-group-cell {
  justify-content: center !important;
}
// .ag-row-pinned{
//   background-color: #d7d6d6 !important;

// }
// .ag-column-drop,
// .ag-header-row-column-group,
// .ag-floating-bottom-container,
// .ag-header-row-column {
//   background-color: #d7d6d6 !important;
//   font-size: 15px !important;
//   font-weight: bold !important;
// }
// .ag-row-class-odd{
//   background-color: #b8f2c9 !important;
// }

.btn-close:focus {
  box-shadow: none !important;
}

.btn-close {
  background: transparent url(../../../assets/images/close.svg) center/1em auto
    no-repeat !important;
}

.modal {
  backdrop-filter: blur(5px) !important;
}

.fade {
  transition: opacity 0.15s linear !important;
}

.modal.fade .modal-dialog {
  transform: unset !important;
}

.modal-content {
  box-shadow: 0 0 100px #00000030;
}
.modal-content {
  border-radius: 15px !important;
}

.modal-body {
  line-height: 2rem;
}

* {
  text-align: start;
}

.modal {
  backdrop-filter: blur(5px);
}

.fade {
  transition: opacity 0.15s linear !important;
}

.modal.fade .modal-dialog {
  transform: unset !important;
}
.modal-backdrop,
.modal {
  z-index: 1030 !important;
}
nb-layout-header.fixed {
  z-index: 1020 !important;
}
.z-index-9 {
  z-index: 1060 !important;
}
.modal-content {
  box-shadow: 0 0 100px #00000030;
  border-radius: 15px !important;
  padding: 1rem;
  padding-bottom: 0;
}
.rtl {
  direction: rtl !important;
  text-align: start;
}

.ltr {
  direction: ltr !important;
  text-align: end;
}
