<app-skeleton-form-loading *ngIf="showLoading; else formTemplate"></app-skeleton-form-loading>
<ng-template #formTemplate>
  <form #form="ngForm" (submit)="!form.invalid && submitHandler(form)">
    <input type="submit" [hidden]="true" [attr.id]="submitButtonId" />
    <div class="row">
      <ui-form-group
        class="col-sm-{{ columnClassNumber }}"
        [label]="'::Title' | abpLocalization"
        [showRequireSign]="true"
        [errorMessage]="'::Validation_Required' | abpLocalization"
        [hideError]="
          !((navigationAction.touched || form.submitted) && navigationAction.errors?.required)
        "
      >
        <ui-input
          [readonly]="readonly"
          [(ngModel)]="model.navigationAction"
          name="navigationAction"
          #navigationAction="ngModel"
          required
        />
      </ui-form-group>
      <ui-form-group
        class="col-sm-{{ columnClassNumber }}"
        [label]="'::Action_Flow' | abpLocalization"
      >
        <ui-select
          [readonly]="readonly"
          [options]="accountAllocationRuleOptions"
          [allowClear]="true"
          [(ngModel)]="model.workflowID"
          name="workflowID"
          [isloading]="lockupsIsLoading"
        ></ui-select>
      </ui-form-group>
      <ui-form-group class="col-sm-{{ columnClassNumber }}" [label]="'::Prompt' | abpLocalization">
        <ui-checkbox
          [text]="'::None' | abpLocalization"
          [type]="'radio'"
          name="interestOption"
          (change)="selectionPromptChanged(promptType.None)"
          [value]="promptType.None"
          [(ngModel)]="promptTypeSelect"
          class="ms-2"
        ></ui-checkbox>

        <ui-checkbox
          [text]="'::Arrangement_Type' | abpLocalization"
          [type]="'radio'"
          name="interestOption"
          (change)="selectionPromptChanged(promptType.ArrangementType)"
          [value]="promptType.ArrangementType"
          [(ngModel)]="promptTypeSelect"
          class="ms-2"
        ></ui-checkbox>

        <ui-checkbox
          [text]="'::Payment_Method' | abpLocalization"
          [type]="'radio'"
          name="interestOption"
          (change)="selectionPromptChanged(promptType.PaymentMethod)"
          [value]="promptType.PaymentMethod"
          [(ngModel)]="promptTypeSelect"
          class="ms-2"
        ></ui-checkbox>
        <ui-checkbox
          [text]="'::Contact_type' | abpLocalization"
          [type]="'radio'"
          name="interestOption"
          (change)="selectionPromptChanged(promptType.ContactType)"
          [value]="promptType.ContactType"
          [(ngModel)]="promptTypeSelect"
          class="ms-2"
        ></ui-checkbox>
        <ui-checkbox
          [text]="'::Address' | abpLocalization"
          [type]="'radio'"
          (change)="selectionPromptChanged(promptType.Address)"
          [value]="promptType.Address"
          [(ngModel)]="promptTypeSelect"
          class="ms-2"
          name="interestOption"
        ></ui-checkbox>
      </ui-form-group>
      <ui-form-group
        class="col-sm-{{ columnClassNumber }}"
        [label]="'::Contact_type' | abpLocalization"
      >
        <ui-select
          [readonly]="readonly || this.promptTypeSelect != promptType.ContactType"
          [options]="contactTypeOptions"
          [allowClear]="true"
          [(ngModel)]="model.systemContactDetailTypeID"
          (ngModelChange)="systemContactDetailChanged()"
          name="systemContactDetailTypeID"
          [isloading]="lockupsIsLoading"
        ></ui-select>
      </ui-form-group>
    </div>
    <div class="row extra-data">
      <div class="col-sm-6">
        <app-section>
          <section class="relationship">
            <div class="relationship__header">
              <span>{{ '::Phone_Exclusions' | abpLocalization }}</span>
            </div>
            <ul class="relationship__list">
              <li class="relationship__item" *ngFor="let item of listContactDetailType">
                <ui-checkbox
                  [text]="item.contactDetailType | uppercase"
                  [checked]="contactDetailTypeDic[item.contactDetailTypeID]"
                  (onChangeValue)="contactDetailTypeDicCheckedHandler($event, item)"
                  [disabled]="
                    readonly ||
                    this.promptTypeSelect != promptType.ContactType ||
                    model.systemContactDetailTypeID != 1
                  "
                ></ui-checkbox>
              </li>
            </ul>
          </section>
        </app-section>
      </div>
      <div class="col-sm-6">
        <app-section>
          <section class="relationship">
            <div class="relationship__header">
              <span>{{ '::Possible_Outcomes' | abpLocalization }}</span>
            </div>
            <ul class="relationship__list">
              <li class="relationship__item" *ngFor="let item of listOutCome">
                <ui-checkbox
                  [text]="item.outcome | uppercase"
                  [disabled]="readonly"
                  [checked]="outComeDic[item.outcomeID]"
                  (onChangeValue)="outComeDicCheckedHandler($event, item)"
                ></ui-checkbox>
              </li>
            </ul>
          </section>
        </app-section>
      </div>
    </div>
    <div class="row">
      <ui-form-group class="col-sm-{{ columnClassNumber }}">
        <ui-checkbox
          [disabled]="readonly"
          [text]="'::Hide_On_Account_Exclusion' | abpLocalization"
          [(ngModel)]="model.hideOnExclusion"
          name="hideOnExclusion"
        ></ui-checkbox>
      </ui-form-group>
    </div>
  </form>
</ng-template>
