<ng-container *ngIf="isEmpty; else form">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <app-alert
      [type]="'error'"
      [textCenter]="true"
      [message]="'اطلاعاتی یافت نشد'"
    ></app-alert>
  </div>
</ng-container>
<ng-template #form>
  <app-general-panel
    [title]="isLoading ? 'در حال دریافت...' : title || 'ویرایش'"
    [hideBackButton]="true"
    [height]="''"
  >
    <app-organization-units-form
      [model]="model"
      [showLoading]="isLoading"
      [submitButtonId]="submitButtonId"
      (submitEvent)="submitHandler($event)"
    ></app-organization-units-form>
    <ng-template #footer>
      <ki-button
        [type]="'button'"
        btnType="basic"
        [iconClassName]="'fa-solid fa-arrow-rotate-left'"
        (clickCallback)="cancelClickHandler()"
        [title]="'انصراف'"
      >
      </ki-button>
      <ki-button
        [for]="submitButtonId"
        btnType="basic"
        [title]="'ویرایش اطلاعات'"
        [iconClassName]="'fa-solid fa-floppy-disk'"
        [showLoading]="isProgressing"
      ></ki-button>
    </ng-template>
  </app-general-panel>
</ng-template>
