<div class="p-skeletonost-loading-container">
  <ng-container *ngFor="let item of countArray">
    <div class="row">
      <div class="col-6">
        <p-skeleton styleClass="p-mb-2" height="2rem"></p-skeleton>
      </div>
      <div class="col-6">
        <p-skeleton styleClass="p-mb-2" height="2rem"></p-skeleton>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <p-skeleton styleClass="p-mb-2" height="2rem"></p-skeleton>
      </div>
      <div class="col-6">
        <p-skeleton styleClass="p-mb-2" height="2rem"></p-skeleton>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <p-skeleton styleClass="p-mb-2" height="2rem"></p-skeleton>
      </div>
      <div class="col-6">
        <p-skeleton styleClass="p-mb-2" height="2rem"></p-skeleton>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <p-skeleton styleClass="p-mb-2" height="2rem"></p-skeleton>
      </div>
      <div class="col-6">
        <p-skeleton styleClass="p-mb-2" height="2rem"></p-skeleton>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <p-skeleton styleClass="p-mb-2" height="2rem"></p-skeleton>
      </div>
      <div class="col-6">
        <p-skeleton styleClass="p-mb-2" height="2rem"></p-skeleton>
      </div>
    </div>
  </ng-container>

  <div class="d-flex justify-content-end mt-4 holder-btn">
    <p-skeleton
      width="100px"
      height="2rem"
      styleClass="p-mb-2 m-0"
      borderRadius="16px"
    ></p-skeleton>
    <p-skeleton
      width="100px"
      height="2rem"
      styleClass="p-mb-2 ms-3 m-0"
      borderRadius="16px"
    ></p-skeleton>
  </div>
</div>
