<div>
  <input
    type="file"
    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
    class="d-none"
    #file
    (change)="onFileChange($event)"
  />
  <!-- <app-tools-bar
    *ngIf="activeToolBar"
    (NewSelected)="onNewSelected()"
    [countItemEdited]="countItemEdited"
    (ImportExcelSelected)="file.click()"
    (CancelSelected)="onCancel()"
    (SaveSelected)="SaveSelected()"
    (DesignerclickEvent)="designerclickEvent($event)"
    [isShowToolbar]="_isEditMode"
  ></app-tools-bar> -->
  <!-- [rowClassRules]="rowClassRules" -->
  <!-------    (gridSizeChanged)="onGridSizeChanged($event)"-->
  <ag-grid-angular
    id="myGrid"
    [id]="idGrid"
    [class]="class"
    [columnDefs]="columnsTable"
    [stopEditingWhenCellsLoseFocus]="true"
    [suppressAggFuncInHeader]="false"
    [suppressRowClickSelection]="suppressRowClickSelection"
    [defaultColDef]="defaultColDef"
    [editType]="editType"
    [rowData]="rowData"
    [rowSelection]="rowSelection"
    [gridOptions]="gridOptions"
    [grandTotalRow]="'bottom'"
    [groupTotalRow]="'bottom'"
    (selectionChanged)="onSelectionChanged()"
    (gridReady)="onGridReady($event)"
    (firstDataRendered)="onFirstDataRendered($event)"
    (cellEditingStopped)="cellEditingStopped($event)"
    (cellKeyDown)="onCellKeyDown($event)"
    [enableFillHandle]="true"
    [enableRangeSelection]="true"
    [autoSizeStrategy]="autoSizeStrategy"
    [undoRedoCellEditing]="undoRedoCellEditing"
    [undoRedoCellEditingLimit]="undoRedoCellEditingLimit"
    [getRowId]="getRowId"
    [loadingCellRenderer]="loadingCellRenderer"
    [loadingCellRendererParams]="loadingCellRendererParams"
    [pivotPanelShow]="pivotPanelShow"
    [rowHeight]="50"
    [pagination]="pagination"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector"
  ></ag-grid-angular>

  <!-- <div id="myChart" class="ag-theme-quartz my-chart"></div> -->
</div>
