<div class="h-100">
  <input
    type="file"
    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
    class="d-none"
    #file
    (change)="onFileChange($event)"
  />
  <ki-grid-loader *ngIf="showLoading"></ki-grid-loader>
  <ag-grid-angular
    id="myGrid"
    [id]="idGrid"
    [class]="class"
    [columnDefs]="columnsTable"
    [stopEditingWhenCellsLoseFocus]="true"
    [suppressAggFuncInHeader]="false"
    [suppressRowClickSelection]="suppressRowClickSelection"
    [defaultColDef]="defaultColDef"
    [editType]="editType"
    [rowData]="rowData"
    [rowSelection]="rowSelection"
    [gridOptions]="gridOptions"
    [pinnedBottomRowData]="pinnedBottomRowData"
    (selectionChanged)="onSelectionChanged()"
    (gridReady)="onGridReady($event)"
    (firstDataRendered)="onFirstDataRendered($event)"
    (cellEditingStopped)="cellEditingStopped($event)"
    (cellKeyDown)="onCellKeyDown($event)"
    [enableFillHandle]="true"
    [groupDisplayType]="groupDisplayType"
    [rowGroupPanelShow]="rowGroupPanelShow"
    [enableRangeSelection]="true"
    [autoSizeStrategy]="autoSizeStrategy"
    [undoRedoCellEditing]="undoRedoCellEditing"
    [undoRedoCellEditingLimit]="undoRedoCellEditingLimit"
    [getRowId]="getRowId"
    [loadingCellRenderer]="loadingCellRenderer"
    [loadingCellRendererParams]="loadingCellRendererParams"
    [pivotPanelShow]="pivotPanelShow"
    [rowHeight]="50"
    [pagination]="pagination"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector"
  >
  </ag-grid-angular>
</div>
