<div class="d-flex justify-content-bettwen rtl w-100 overflow-auto">
  <ki-button
    [appTooltip]="'بازگشت'"
    [appTooltipPosition]="'top'"
    btnType="basic"
    [iconClassName]="'fa-solid fa-arrow-rotate-left'"
    (click)="escapeEvent()"
    [size]="sizeBtn"
    class="mx-2 f-15 ESc"
  ></ki-button>
  <ki-button
    [appTooltip]="'ابزار'"
    [appTooltipPosition]="'top'"
    btnType="basic"
    [iconClassName]="'fa-solid fa-screwdriver-wrench'"
    [size]="sizeBtn"
    (click)="toolsEvent()"
    class="mx-2 f-15 tools"
  ></ki-button>
  <ki-button
    [appTooltip]="'بروز رسانی'"
    [appTooltipPosition]="'top'"
    btnType="basic"
    [iconClassName]="'fa-solid fa-arrows-rotate'"
    (click)="refrashEvent()"
    [showLoading]="isShowLoadingRefrash"
    [size]="sizeBtn"
    class="mx-2 f-15 refresh"
  ></ki-button>
  <ki-button
    [appTooltip]="'اطلاعات'"
    [appTooltipPosition]="'top'"
    btnType="basic"
    [iconClassName]="'fa-solid fa-circle-info'"
    [size]="sizeBtn"
    class="mx-2 f-15 info"
  ></ki-button>
  <ki-button
    [appTooltip]="'چاپ'"
    [appTooltipPosition]="'top'"
    btnType="basic"
    [iconClassName]="'fa-solid fa-print'"
    [size]="sizeBtn"
    (click)="perintEvent()"
    class="mx-2 f-15 print"
  ></ki-button>
  <ki-button
    [appTooltip]="'خروجی اکسل'"
    [appTooltipPosition]="'top'"
    btnType="basic"
    [size]="sizeBtn"
    [iconClassName]="'fa-solid fa-file-excel'"
    class="mx-2 f-15 excel"
  ></ki-button>
  <ki-button
    [appTooltip]="'تایید'"
    [appTooltipPosition]="'top'"
    btnType="basic"
    [iconClassName]="'fa-regular fa-circle-check'"
    [size]="sizeBtn"
    class="mx-2 f-15 check"
  ></ki-button>
  <ki-button
    [appTooltip]="'حذف'"
    [appTooltipPosition]="'top'"
    [disabled]="disabled"
    btnType="basic"
    [iconClassName]="'fas fa-trash-alt'"
    [size]="sizeBtn"
    [showLoading]="isShowLoadingDelete"
    (click)="deleteEvent()"
    class="mx-2 f-15 trash"
  ></ki-button>
  <ki-button
    [appTooltip]="'ویرایش'"
    [appTooltipPosition]="'top'"
    btnType="basic"
    [iconClassName]="'fas fa-edit'"
    (click)="editEvent()"
    [size]="sizeBtn"
    [disabled]="disabled"
    class="mx-2 f-15 edit"
  ></ki-button>

  <ki-button
    [appTooltip]="'اضافه'"
    [appTooltipPosition]="'top'"
    btnType="basic"
    [iconClassName]="'fas fa-plus '"
    (click)="addEvent()"
    [size]="sizeBtn"
    class="mx-2 f-15 plus"
  ></ki-button>

  <ki-button
    *ngIf="isShowSearchBtn"
    [appTooltip]="'جستجو'"
    [appTooltipPosition]="'top'"
    btnType="basic"
    [iconClassName]="'fa-brands fa-searchengin'"
    (click)="searchEvent()"
    [size]="sizeBtn"
    class="mx-2 f-15 plus"
  ></ki-button>
</div>
