<app-general-panel
  [title]="'اضافه کردن  نوع بیمه '"
  [hideBackButton]="false"
  (backCallback)="cancelClickHandler()"
>
  <app-general-form
    #generalForm
    [formGroup]="formGroup"
    [form]="form"
    [fields]="feilds"
    [cssHeight]="'100%'"
    (submitEvent)="submitHandler($event)"
    (saveEvent)="saveHandler($event)"
  ></app-general-form>

  <ng-template #footer>
    <ki-button
      btnType="basic"
      [iconClassName]="'fa-solid fa-floppy-disk'"
      [showLoading]="showLoading"
      [title]="'ذخیره اطلاعات'"
      (clickCallback)="clickSearchHander()"
    >
    </ki-button>
  </ng-template>
</app-general-panel>
