<app-skeleton-form-loading *ngIf="showLoading; else formTemplate"></app-skeleton-form-loading>
<ng-template #formTemplate>
  <form #form="ngForm" (submit)="!form.invalid && submitHandler(form)">
    <input type="submit" [hidden]="true" [attr.id]="submitButtonId" />
    <div class="row">
      <ui-form-group
        class="col-sm-{{ columnClassNumber }}"
        [label]="'::Navigation_Action_Package_Name' | abpLocalization"
        [showRequireSign]="true"
        [errorMessage]="'::Validation_Required' | abpLocalization"
        [hideError]="
          !(
            (navigationActionPackage.touched || form.submitted) &&
            navigationActionPackage.errors?.required
          )
        "
      >
        <ui-input
          [readonly]="readonly"
          [(ngModel)]="model.navigationActionPackage"
          name="navigationActionPackage"
          #navigationActionPackage="ngModel"
          required
        />
      </ui-form-group>
      <ui-form-group class="col-sm-{{ columnClassNumber }}">
        <ui-checkbox
          [disabled]="readonly"
          [text]="'::Hide_For_Admin' | abpLocalization"
          [(ngModel)]="model.hideForAdmin"
          name="hideForAdmin"
        ></ui-checkbox>
      </ui-form-group>
    </div>
  </form>
</ng-template>
