@import "variable";
.h-30-rm {
  height: 30rem;
}
.enheritance-settings {
  max-height: 100%;
  overflow: auto;
}
.tree-node__menu:hover {
  .icons-btn {
    display: block;
  }
}
.fa-regular {
  color: $red !important;
}
.tree-node {
  display: flex;
  align-items: center;
  gap: $spacing-x2;

  &__icon {
    font-size: 16px;
    color: $content-secondary;
  }

  &__title {
    flex: 1;
    min-width: 0;
    @include button-2;
    color: $content-primary;
  }

  &__more {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: 24px;
    height: 24px;
    border-radius: $radius-x1;
    padding: $spacing-x1;
    transition: 0.3s all;
    color: $content-secondary;
    &:hover {
      background-color: $background-secondary;
      color: $content-primary;
    }
  }

  &:hover {
    .tree-node__more {
      opacity: 1;
    }
  }
}

.success {
  color: $success;
}
.error {
  color: $error;
}
