@import 'variable';

.enheritance-settings {
  max-height: 500px;
  overflow: auto;
}

.tree-node {
  display: flex;
  align-items: center;
  gap: $spacing-x2;

  &__icon {
    font-size: 16px;
    color: $content-secondary;
  }

  &__title {
    flex: 1;
    min-width: 0;
    @include button-2;
    color: $content-primary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__more {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: 24px;
    height: 24px;
    border-radius: $radius-x1;
    padding: $spacing-x1;
    transition: 0.3s all;
    color: $content-secondary;
    &:hover {
      background-color: $background-secondary;
      color: $content-primary;
    }
  }

  &:hover {
    .tree-node__more {
      opacity: 1;
    }
  }
}

.success {
  color: $success;
}
.error {
  color: $error;
}
