<app-general-panel
  [title]="'::Edit_Navigation_Action_Buttons' | abpLocalization"
  [hideBackButton]="true"
>
  <ng-template #header>
    <ui-button
      [type]="'button'"
      [btnType]="'primary'"
      [varient]="'outline'"
      (clickCallback)="listButtonClickHandler()"
      ><span class="fa fa-list"></span> {{ '::Navigation_Action_Buttons_List' | abpLocalization }}
    </ui-button>
  </ng-template>
  <app-navigation-action-buttons-form
    [model]="model"
    [submitButtonId]="submitButtonId"
    [showLoading]="showLoadingForm"
    (submitEvent)="submitHandler($event)"
  ></app-navigation-action-buttons-form>
  <ng-template #footer>
    <ui-button [type]="'button'" (clickCallback)="cancelClickHandler()">{{
      '::CANEL' | abpLocalization
    }}</ui-button>
    <ui-button
      [for]="submitButtonId"
      [varient]="'fill'"
      [btnType]="'primary'"
      [showLoading]="isProgressing"
      >{{ '::SAVE' | abpLocalization }}</ui-button
    >
  </ng-template>
</app-general-panel>
