@import 'variable';
$name: 'general-form';
.#{$name} {
  display: flex;
  flex-direction: column;

  &--show-padding {
    .#{$name} {
      &__content,
      &__footer {
        padding: $side-distance;
      }
    }
  }

  &__content {
    flex: 1;
    min-width: 0;
    overflow: auto;
    padding-bottom: $side-distance;
    &:last-child {
      padding-bottom: 0;
    }
  }

  &__inner {
    overflow: hidden;
    .row {
      margin-bottom: -$spacing-x4;
    }
  }

  &__footer {
    padding-top: $side-distance;
    position: sticky;
    bottom: 0;
    border-top: 1px solid $border;
    display: flex;
    gap: $spacing-x2;
    justify-content: flex-end;
  }
}



.container {
  direction: rtl;
  background-color: #fff;
  border-radius: 0;
}

h4, h5 {
  font-weight: bold;
  color: #343a40;
  margin-bottom: 20px;
}

.row {
  margin-bottom: 20px;
}

hr {
  border-top: 1px solid #dcdcdc;
  margin: 15px 0;
}

.d-flex span {
  margin-left: 5px;
}

.font-weight-bold {
  color: #000;
}



.col-md-3, .col-md-6 {
  padding: 10px 0;
}

.flex-column span {
  margin-bottom: 5px;
}
.key-value,.key-label{
  font-size: 12px;
}