<div class="container my-4 p-3 border">
  <!-- عنوان اصلی کامپوننت -->
  <h6 class="text-right font-weight-bold mb-4">
    {{ title || "اطلاعات ماهیانه کارگاه" }}
  </h6>

  <!-- بخش‌های داینامیک -->
  <div *ngFor="let section of sections" class="mb-4">
    <!-- عنوان بخش اختیاری -->
    <h6 *ngIf="section.title" class="text-right font-weight-bold mb-3">
      {{ section.title }}
    </h6>

    <!-- ستون‌ها -->
    <div class="row">
      <div
        *ngFor="let column of section.columns"
        class="col-md-{{
          getColumnClass(section.columns.length)
        }} d-flex flex-column"
      >
        <!-- <form
          *ngIf="formGroup"
          #formRef="ngForm"
          class="general-form"
          [class.general-form--show-padding]="showPadding"
          [style.height]="cssHeight"
          [style.min-height]="cssMinHeight"
          [style.overflow]="cssOverflow"
          [attr.id]="idAttr"
          [formGroup]="formGroup"
          (submit)="submitHandler($event)"
        > -->
        <div *ngFor="let item of column" class="d-flex align-items-center mb-2">
          <span class="font-weight-bold key-label">{{ item.title }}:</span>
          <ng-container [ngSwitch]="item.type">
            <ng-container *ngSwitchCase="'lbl'">
              <span class="key-value">
                {{ item.value | numberSeparator : item.config?.separator }}
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="'textbox'">
              <ki-input
                class="w-30"
                [id]="item | getElementId : formUniqueKey"
                [(ngModel)]="item.value"
                [readonly]="item.readonly"
                [type]="item.config?.type"
                [min]="item.config?.min"
                [max]="item.config?.max"
                [step]="item.config?.step"
                [maxLength]="item.config?.maxLength"
                [onlyNumber]="item.config?.onlyNumber"
                [maskType]="item.config?.maskType"
                [maskDecimalDigit]="item.config?.maskDecimalDigit"
                [maskThousandSeparator]="item.config?.maskThousandSeparator"
                [maskPrefix]="item.config?.maskPrefix"
                [maskAllowNegativeNumbers]="
                  item.config?.maskAllowNegativeNumbers
                "
              ></ki-input>
              <ki-button
                [appTooltip]="'ذخیره'"
                [appTooltipPosition]="'top'"
                btnType="basic"
                [iconClassName]="'fa-solid fa-floppy-disk'"
                [showLoading]="showLoading"
                [disabled]="item.value ? false : true"
                (clickCallback)="textboxChangeHandler($event, item)"
              ></ki-button>
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ item.value }}
            </ng-container>
          </ng-container>
        </div>
        <!---  </form>--->
      </div>
    </div>

    <!-- خط جداکننده برای هر بخش -->
    <hr *ngIf="section !== sections[sections.length - 1]" />
  </div>
</div>
