<app-general-panel [title]="'لیست مساعده'" [hideBackButton]="true">
  <ng-template #header>
    <div class="align-content-center d-flex justify-content-between">
      <app-tools-bar
        (NewSelected)="newWorkShpps()"
        (RefrashSelected)="onRefrashSelected()"
        (DeleteSelected)="removeCell()"
        (EditSelected)="newWorkShpps(true)"
        (EscapeSelected)="cancelClickHandler()"
        (RefrashSelected)="onRefrashSelected()"
        (ToolsSelected)="onToolsSelected()"
        [disabled]="selectRow.length != 0 ? false : true"
        [isShowLoadingDelete]="isShowLoadingDelete"
        [isShowLoadingRefrash]="isShowLoadingRefrash"
        [showLoading]="isShowLoadingRefrash"
      ></app-tools-bar>
    </div>
  </ng-template>

  <div class="w-100">
    <list-view-filter
      [configViewFilter]="configViewFilter"
      (onSearchCallback)="onSearchHandelar($event)"
    ></list-view-filter>
  </div>

  <ag-grid-data
    [rowId]="'id'"
    [columnsDefault]="columnsDefault"
    [rowDataDefault]="rowDataDefault"
    [pagination]="true"
    (removeCellChange)="onDeleteItem($event)"
    (selectedRowsChange)="onSelectedRowsChangeEvent($event)"
  ></ag-grid-data>
</app-general-panel>
