<nb-card accent="success">
  <nb-card-header>لطفا فیلد های اجباری را وارد نمایید</nb-card-header>
  <nb-card-body>
    <form
      #companyForm="ngForm"
      (ngSubmit)="!companyForm.invalid && submitHandler(companyForm)"
    >
      <div class="row">
        <ki-form-group
          [label]="'تاریخ'"
          [showRequireSign]="true"
          class="col-6"
          [errorMessage]="
            adjDate.errors?.invalidDate ? 'تاریخ نا معتبر' : 'فیلد اجباری'
          "
          [hideError]="
            !(adjDate.errors?.required || adjDate.errors?.invalidDate)
          "
        >
          <ki-date-picker
            [(ngModel)]="persianBirthDate"
            name="adjDate"
            #adjDate="ngModel"
            required
          ></ki-date-picker>
        </ki-form-group>
        <ki-form-group
          class="col-6"
          [label]="'نام کارمند'"
          [errorMessage]="employeeId.errors?.required ? 'فیلد اجباری' : ''"
          [hideError]="
            !(
              (employeeId.touched || companyForm.submitted) &&
              employeeId.errors?.required
            )
          "
          [showRequireSign]="true"
        >
          <ki-select
            #employeeId="ngModel"
            name="employeeId"
            [placeholder]="'کارمند'"
            [options]="employeList"
            [allowClear]="true"
            [(ngModel)]="model.employeeId"
            required=""
          >
          </ki-select>
        </ki-form-group>
      </div>

      <div class="row">
        <ki-form-group
          class="col-6"
          [errorMessage]="
            benefitDeductionId.errors?.required ? 'فیلد اجباری' : ''
          "
          [hideError]="
            !(
              (benefitDeductionId.touched || companyForm.submitted) &&
              benefitDeductionId.errors?.required
            )
          "
          [showRequireSign]="true"
          [label]="'مزایا کسورات'"
        >
          <ki-select
            #benefitDeductionId="ngModel"
            name="benefitDeductionId"
            [placeholder]="'مزایا کسورات'"
            [options]="benefitDeductions"
            [allowClear]="true"
            [(ngModel)]="model.benefitDeductionId"
            required
          >
          </ki-select>
        </ki-form-group>
        <ki-form-group
          class="col-6"
          [label]="'مبلغ'"
          [showRequireSign]="true"
          [errorMessage]="
            toMoney.errors?.isCurrency
              ? 'مبلغ وارد شده کمتر از مبلغ است'
              : 'فیلد اجباری'
          "
          [hideError]="
            !(
              ((toMoney.touched || companyForm.submitted) &&
                toMoney.errors?.required) ||
              toMoney.errors?.isCurrency
            )
          "
        >
          <ki-input
            name="toMoney"
            [fullWidth]="true"
            class="ltr"
            [onlyNumber]="true"
            [(ngModel)]="model.price"
            #toMoney="ngModel"
            [type]="'currency'"
            [maskType]="'separator'"
            required
          ></ki-input>
        </ki-form-group>
      </div>
      <div class="row">
        <ki-form-group
          [label]="'انتخاب ماه'"
          class="col-6"
          [errorMessage]="month.errors?.required ? 'فیلد اجباری' : ''"
          [hideError]="
            !(
              (month.touched || companyForm.submitted) &&
              month.errors?.required
            )
          "
          [showRequireSign]="true"
        >
          <ki-select
            [placeholder]="'انتخاب ماه'"
            #month="ngModel"
            name="month"
            [options]="monthlyList"
            [(ngModel)]="model.month"
            [hideSelected]="false"
            required
          >
          </ki-select>
        </ki-form-group>
        <ki-form-group
          [label]="'انتخاب سال'"
          class="col-6"
          [errorMessage]="year.errors?.required ? 'فیلد اجباری' : ''"
          [hideError]="
            !((year.touched || companyForm.submitted) && year.errors?.required)
          "
          [showRequireSign]="true"
        >
          <ki-select
            [placeholder]="'انتخاب سال'"
            [options]="yearlyList"
            [(ngModel)]="model.year"
            #year="ngModel"
            name="year"
            required
          >
          </ki-select>
        </ki-form-group>
      </div>
      <div class="row">
        <ki-form-group class="col-12" [label]="'توضیحات'">
          <ki-textarea
            name="comment"
            [fullWidth]="true"
            [(ngModel)]="model.comment"
            #comment="ngModel"
          ></ki-textarea>
        </ki-form-group>
      </div>
      <input type="submit" [hidden]="true" [attr.id]="submitButtonId" />
    </form>
  </nb-card-body>
</nb-card>
